doctype html
meta(charset='utf-8')
title Dustcourse
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel='icon', href='/favicon.png', sizes='152x152')
link(rel='stylesheet', href='/static/index.css')

.page-header
  div
    .page-header-brand Dustcourse
    .page-header-level Downloading level&hellip;
  .page-header-middle
  .page-header-btns.btn-group

canvas.level-canvas
    | Looks like your web browser is too outdated to use this site, sorry.

.page-footer
  | <a href="http://dustforce.com/" target="_blank">Dustforce</a> was created by <a href="http://hitboxteam.com/" target="_blank">Hitbox Team</a>.
  | <a href="https://github.com/johnsoft/dustcourse" target="_blank">Dustcourse</a> was created by <a href="https://whatisaphone.com/" target="_blank">whatisaphone</a>.

script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.7/pixi.min.js')
script(src='/static/index.js')
script.
  Dustcourse.initLevelViewer(!{JSON.stringify(levelName)});
