doctype html
meta(charset='utf-8')
title Dustworld
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel='icon' href='/favicon.png')
link(rel='stylesheet', href='/static/index.css')

.page-header
  div
    .page-header-brand Dustworld
    .page-header-level Downloading level&hellip;
  .page-header-middle
  .page-header-btns.btn-group

canvas.level-canvas
    | Looks like your web browser is too outdated to use this site, sorry.

.page-footer
  | Dustforce was created by <a href="http://hitboxteam.com/" target="_blank">Hitbox Team</a>
  | and these graphics are used <a href="http://dustforce.com/terms" target="_blank">with permission</a>.

script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.7/pixi.min.js')
script(src='/static/index.js')
script.
  Dustworld.initLevelViewer(!{JSON.stringify(levelName)});
